# macOS
.DS_Store
.AppleDouble
.LSOverride

# Node
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Alfred workflow
*.alfredworkflow

# Environment
.env

# Credentials
.bluesky-credentials.json

# IDE
.idea/
.vscode/
*.swp
*.swo

# Logs
logs
*.log